@model IEnumerable<IPMRVPark.Models.customer_view>

@{
    ViewBag.Title = "Customer Report";
    ViewBag.PageTitle = "Customer Report";
}

<style>
    body {
        min-width: 1280px;
    }
</style>

<table class="table">
    <tr>
        <th>
            Customer Name
        </th>
        <th>
            Customer Phone Number
        </th>
        <th>
            Balance
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.fullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.mainPhone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.comments)
        </td>
    </tr>
}

</table>
