@{
    ViewBag.Title = "Change Password";
    ViewBag.PageTitle = "Change Password";
}

@Html.ActionLink("Home", "Home", "Login")
<span class="glyphicon glyphicon-chevron-right"></span>
@Html.ActionLink("Change Password", "ChangePassword", "Login")

<script type="text/javascript">
    $(document).ready(function () {
        // Resolve root path
        var origin = window.location.origin;
        if (origin == 'http://www.alvm.com.br') {
            var root = 'http://www.alvm.com.br/ipmrvpark/';
        }
        else {
            var root = '../';
        }
        $('#wrongPassword').hide();
        $('#minLength').hide();
        $('#doNotMatch').hide();
        // User Email
        var postpath = root + 'Login/GetSessionEmail';
        $.ajax({
            url: postpath,
            type: 'POST',
            dataType: 'json',
            success: function (data) {
                var userID = data.ID;
                var userLabel = data.Label;
                $('#idUser').val(userID);
                $('#userEmail').val(userLabel);
            },
            error: function () {
                alert('Error in GetSessionEmail');
            }
        });
        $('#userPassword').click(function () {
            $('#userPassword').val('');
            $('#enterPassword').val('');
            $('#confirmPassword').val('');
            $('#wrongPassword').hide();
            $('#minLength').hide();
        });
        $('#enterPassword').click(function () {
            $('#enterPassword').val('');
            $('#doNotMatch').hide();
            $('#minLength').hide();
        });
        $('#confimrPassword').click(function () {
            $('#confirmPassword').val('');
            $('#doNotMatch').hide();
            $('#minLength').hide();
        });
        //function will be called on button click
        $('#btnConfirmNewPwd').click(function () {
            userEmail = $('#userEmail').val();
            userPassword = $('#userPassword').val();
            enterPassword = $('#enterPassword').val();
            confirmPassword = $('#confirmPassword').val();
            if (enterPassword != confirmPassword) {
                $('#doNotMatch').show();
            }
            else if (enterPassword.length < 6) {
                $('#minLength').show();
            }
            else {
                if (isValidEmail(userEmail) &&
                    isValidPassword(userPassword)) {
                    $('#waitMsg').show();
                    var postpath = root + 'Login/ChangePassword';
                    $.ajax(
                    {
                        url: postpath,
                        type: 'POST',
                        dataType: 'json',
                        data: { //Passing data
                            userEmail: userEmail,
                            userPassword: userPassword,
                            P1: '@ViewBag.P1',
                            P2: '@ViewBag.P2',
                            enterPassword: enterPassword,
                        },
                        success: function (data) {
                            var userID = data.ID;
                            //check user ID
                            if (userID == -1) {
                                $('#userPassword').val('');
                                $('#enterPassword').val('');
                                $('#confirmPassword').val('');
                                $('#minLength').hide();
                                $('#waitMsg').hide();
                                $('#wrongPassword').show();
                            }
                            else {
                                var path = root + 'Login/Login';
                                window.location.replace(path);
                            }
                        },
                        error: function (result) {
                            alert('Error in authorizing user' + result);
                        }
                    });
                }
            }
        });
        function isValidEmail(emailAddress) {
            return (emailAddress.length > 0);
        }
        function isValidPassword(password) {
            return (password.length > 0);
        }
    });
</script>

<div class="container-fluid">
    <!-- Email -->
    <div class="row form-top-margin">
        <div class="form-group">
            <div class="col-sm-6 col-sm-push-3 col-xs-12 form-top-margin">
                <div class="col-sm-3 col-xs-12 form-top-margin">
                    <label>Email</label>
                </div>
                <div class="col-sm-9 col-xs-12 form-top-margin">
                    <input type="text" class="form-control" id="userEmail" disabled />
                    <input class="text-box single-line" id="idUser" name="idUser" type="hidden" />
                </div>
            </div>
        </div>
    </div>
    <!-- Old Password -->
    <div class="row">
        <div class="form-group">
            <div class="col-sm-6 col-sm-push-3 col-xs-12 form-top-margin">
                <div class="col-sm-3 col-xs-12 form-top-margin">
                    <label>Actual Password</label>
                </div>
                <div class="col-sm-9 col-xs-12 form-top-margin">
                    <input type="password" class="form-control" id="userPassword" name="userPassword" placeholder="Type your password" />
                </div>
                <div class="col-xs-12" id="wrongPassword" style="color: red; font-weight: bold;">
                    Password is wrong
                </div>
            </div>
        </div>
    </div>
    <!-- Enter Password -->
    <div class="row">
        <div class="form-group">
            <div class="col-sm-6 col-sm-push-3 col-xs-12 form-top-margin">
                <div class="col-sm-3 col-xs-12 form-top-margin">
                    <label>Enter Password</label>
                </div>
                <div class="col-sm-9 col-xs-12 form-top-margin">
                    <input type="password" class="form-control" id="enterPassword" name="enterPassword" placeholder="Type your password" />
                </div>
                <div class="col-xs-12" id="minLength" style="color: red; font-weight: bold;">
                    Minimum password length is 6 characters/numbers
                </div>
            </div>
        </div>
    </div>
    <!-- Confirm Password -->
    <div class="row">
        <div class="form-group">
            <div class="col-sm-6 col-sm-push-3 col-xs-12 form-top-margin">
                <div class="col-sm-3 col-xs-12 form-top-margin">
                    <label>Enter Password</label>
                </div>
                <div class="col-sm-9 col-xs-12 form-top-margin">
                    <input type="password" class="form-control" id="confirmPassword" name="confimrPassword" placeholder="Type your password" />
                </div>
                <div class="col-xs-12" id="doNotMatch" style="color: red; font-weight: bold;">
                    Password doesn't match
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-sm-push-3 col-xs-12 form-top-margin">
            <div id="btnConfirmNewPwd" class="btn btn-block btn-default btn-mylink pagination-centered"><span class="glyphicon glyphicon-log-in"></span>&nbsp; Confirm New Password</div>
        </div>
    </div>
</div>
